.login {
  padding: 20px 10px;
}

.login .container {
  padding: 10px;
}

.login .for-error {
  color: red;
  font-weight: 300;
  font-size: 0.9rem;
  margin-left: 15px;
  margin-bottom: 0;
}

.login .heading {
  font-size: 3rem;
  font-weight: 600;
  margin: 0px 5px 10px;
}

.login .right-side .for-image {
  margin: 30px 3px;
  display: flex;
  align-items: center;
  justify-content: center;
}

.login .right-side .for-image img {
  height: 400px;
}

.login .left-side {
  margin-top: 50px;
}

.login .left-side .my-form {
  padding: 20px;
  display: flex;
  flex-direction: column;
  align-items: start;
  justify-content: start;
  border: 1px solid white;
  border-radius: 10px;
  width: 100%;
}

.login .left-side .my-form .every-div {
  margin: 10px 2px;
  display: flex;
  flex-direction: column;
  align-items: start;
  justify-content: start;
  width: 100%;
}


.login .container .left-side .my-form .for-label {
  font-size: 1rem;
  font-weight: 400;
  margin: 0 0px 0 10px;
}

.login .container .left-side .my-form .for-password-show {
  width: 90%;
  background-color: rgb(73, 73, 82);
  border-radius: 30px;
}

.login .container .left-side .my-form .for-password-show .for-icon {
  font-size: 20px;
}

.login .container .left-side .my-form .for-password-show .for-icon:hover {
  cursor: pointer;
}

.login .container .left-side .my-form .for-password-show .my-input {
  width: 90%;
  background-color: rgb(73, 73, 82);
  border-radius: 30px;
  border: none;
  outline: none;
  color: white;
  padding: 5px 2px 5px 10px;
}

.login .container .left-side .my-form .for-input {
  margin-top: 2px;
  margin-bottom: 0;
  width: 90%;
  padding: 5px 2px 5px 10px;
  border: none;
  border-radius: 30px;
  outline: none;
  background-color: rgb(73, 73, 82);
  color: white;
}

.login .container .left-side .my-form .for-input:hover {
  box-shadow: inset 0 0 5px white;
}

.login .container .left-side .for-btn {
  background-color: #990033;
  margin: 20px 10px;
  color: white;
  padding: 10px 30px;
  text-decoration: none;
  font-size: 1.2rem;
  border-radius: 40px;
  outline: 1px solid #990033;
  font-weight: 600;
  transition: all 0.3s ease-in-out;
}

.login .container .left-side .for-btn:hover {
  outline-offset: 5px;
  background-color: yellow;
  color: black;
  cursor: pointer;
}

@media (max-width: 992px) {
  .login .right-side .for-image {
    margin: 10px 3px 20px;
  }

  .login .right-side .for-image img {
    height: 300px;
  }
}

@media (max-width: 767px) {
  .login .container .left-side .my-form .for-input {
    width: 90%;
  }

  .login .container .left-side .my-form textarea {
    width: 90%;
  }
}

@media (max-width: 578px) {
  .login .container .heading {
    font-size: 2rem;
  }

  .login .container .left-side .my-form .for-input {
    width: 100%;
  }

  .login .container .left-side .my-form .for-password-show {
    width: 100%;
    padding-right: 5px;
  }

  .login .container .left-side .my-form .for-password-show .for-icon {
    font-size: 15px;
  }

  .login .container .left-side .my-form textarea {
    width: 100%;
  }

  .login .for-error {
    font-size: 0.7rem;
    margin-left: 5px;
  }
}

@media (max-width: 400px) {
  .login .right-side .for-image img {
    height: 270px;
  }
}
