.register {
  padding: 20px 10px;
}

.register .container {
  padding: 10px;
}

.register .for-error {
  color: red;
  font-weight: 300;
  font-size: 0.9rem;
  margin-left: 15px;
  margin-bottom: 0;
}

.register .heading {
  font-size: 3rem;
  font-weight: 600;
  margin: 0px 5px 10px;
}

.register .right-side .for-image {
  margin: 30px 3px;
  display: flex;
  align-items: center;
  justify-content: center;
}

.register .left-side .my-form {
  padding: 20px;
  display: flex;
  flex-direction: column;
  align-items: start;
  justify-content: start;
  border: 1px solid white;
  border-radius: 10px;
}

.register .left-side .my-form .every-div {
  margin: 10px 2px;
  display: flex;
  flex-direction: column;
  align-items: start;
  justify-content: start;
  width: 100%;
}

.register .container .left-side .my-form .for-label {
  font-size: 1rem;
  font-weight: 400;
  margin: 0 0px 0 10px;
}

.register .container .left-side .my-form .for-input {
  margin-top: 2px;
  margin-bottom: 0;
  width: 90%;
  padding: 5px 2px 5px 10px;
  border: none;
  border-radius: 30px;
  outline: none;
  background-color: rgb(73, 73, 82);
  color: white;
}

.register .container .left-side .my-form .password-input {
  width: 90%;
  background-color: rgb(73, 73, 82);
  border-radius: 30px;
}

.register .container .left-side .my-form .password-input .for-icon {
  font-size: 20px;
  cursor: pointer;
}

.register .container .left-side .my-form .password-input .my-input {
  width: 90%;
  background-color: rgb(73, 73, 82);
  border-radius: 30px;
  border: none;
  outline: none;
  color: white;
  padding: 5px 2px 5px 10px;
}

.register .container .left-side .for-btn {
  background-color: #990033;
  margin: 20px 10px;
  color: white;
  padding: 10px 30px;
  text-decoration: none;
  font-size: 1.2rem;
  border-radius: 40px;
  outline: 1px solid #990033;
  font-weight: 600;
}

.register .container .left-side .for-btn:hover {
  outline-offset: 5px;
  background-color: yellow;
  color: black;
  cursor: pointer;
}

@media (max-width: 992px) {
  .register .container .for-image {
    display: none;
  }
}

@media (max-width: 767px) {
  .register .container .left-side .my-form .for-input {
    width: 90%;
  }

  .register .container .left-side .my-form textarea {
    width: 90%;
  }
}

@media (max-width: 578px) {
  .register .container .heading {
    font-size: 2rem;
  }

  .register .container .left-side .my-form .for-input {
    width: 100%;
  }

  .register .container .left-side .my-form textarea {
    width: 100%;
  }

  .register .container .left-side .my-form .password-input {
    width: 100%;
  }

  .register .for-error {
    font-size: 0.7rem;
    margin-left: 5px;
  }
}

@media (max-width: 330px) {
  .register .container .left-side .my-form .password-input {
    padding-right: 5px;
  }

  .register .container .left-side .my-form .password-input .for-icon {
    font-size: 15px;
  }
}
