.skills {
  padding: 70px 5px;
}

.skills .for-heading {
  font-size: 3rem;
  font-weight: 600;
}

.skills .my-skills {
  text-align: center;
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: column;
}

.skills .skill-heading {
  font-size: 2rem;
  color: red;
  margin: 20px 5px;
  padding: 2px 2px 2px 20px;
}

.skills .my-skills .for-image {
  padding: 10px;
  height: 150px;
  width: 150px;
}

.skills .my-skills .for-image img {
  border-radius: 50%;
  height: 120px;
  width: 120px;
  transition: all 0.3s ease-in-out;
}

.skills .my-skills .for-image img:hover {
  transform: scale(1.1);
}

@media (max-width: 400px) {
  .skills .my-skills .for-image {
    height: 100px;
    width: 100px;
  }

  .skills .my-skills .for-image img {
    border-radius: 5px;
    height: 80px;
    width: 80px;
  }
}

@media (max-width: 330px) {
  .skills .skill-heading {
    font-size: 1.5rem;
  }
}
